{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "chrome": "100",
                "esmodules": true
            },
            "modules": false
          }],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ]
}