body {
    margin: 0 5px;
    --font-size: 100%;
    --main-color: rgb(166, 209, 223);
    --top-color: rgb(142, 172, 182);
    --bottom-color: rgb(141, 187, 137);

    --top-height: 45px;
    --bottom-height: 90px;
    --button-height: 40px;
    --bubble-height: 25px;

    background-color: var(--main-color);

    margin-top: var(--top-height);
    margin-bottom: var(--bottom-height);
    font-family: 'Oswald', sans-serif;

    font-size: var(--font-size);
}

.ui-bar {
    z-index: 2;
}

.top {
    --margin: 10px;
    --shadown-size: calc(var(--margin) / 2);
    --real-height: calc(var(--top-height) - var(--margin));

    position: fixed;
    height: var(--real-height);
    inset: 0;
    width: 100%;
    background-color: var(--top-color);
    border-radius: 0px 0 200px 200px;
    box-shadow: 0 0 var(--shadown-size) var(--shadown-size) rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc(0.7 * var(--real-height));
    margin: 0;
    max-width: 75%;
}

.middle {
    background-color: var(--main-color);
}

.tracks {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.button:hover {
    --box-shadow-alpha: 1;
}

.bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    height: var(--bottom-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    pointer-events: none;
}

.button {
    --bg-1: rgb(0 128 0 / 25%);
    --bg-2: rgba(128, 75, 0, 0.35);
    --box-shadow-alpha: 0.5;

    position: relative;
    
    background-color: var(--bottom-color);
    border-radius: 200px;
    width: 75%;
    height: var(--button-height);
    box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, var(--box-shadow-alpha));
    transition: box-shadow ease 150ms;
    overflow: hidden;
    cursor: pointer;
    pointer-events: auto;
    align-self: center;
}

.progress {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    transform: translateX(calc(-100% + var(--progress)));
    transition: transform ease 150ms;
}

.button-section {
    width: 90%;
    height: 100%;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.4 * var(--btn-height));
}

.bubbles {
    display: flex;
    gap: 2.5%;
    pointer-events: none;
    flex-direction: row-reverse;
    margin-right: 2%;
    opacity: 0.65;
}

.bubble {
    --bg-alpha: 25%;
    --padding: 2.5%;
    background-color: rgb(0 0 0 / var(--bg-alpha));
    height: var(--bubble-height);
    border-radius: 200px;
    display: flex;
    align-items: center;
    font-size: calc(var(--font-size) * 0.8);
    font-weight: 300;
    gap: 10px;
    padding: 0 var(--padding) 0 var(--padding);
    pointer-events: auto;
    text-decoration: none;
    color: inherit;
    transition: background-color, color ease 250ms;
}

.bubble:hover {
    --bg-alpha: 100%;
    color: ghostwhite;
}

.center-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.spin {
    animation: spin 2s linear infinite;
}

.error {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.error pre {
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.window-title {
    margin: 0;
    margin-bottom: 10px;
}

