.trackElt {
    --bg-default: rgb(255 255 255 / 40%);
    --bg-complete: rgb(106 172 103 / 50%);
    --bg-in-progress: rgb(255 255 255 / 80%);
    --progress-color: rgb(0 106 255 / 45%);
    display: flex;
    --track-elt-height: 45px;
    height: var(--track-elt-height);
    gap: 5px;
    background-color: var(--track-elt-bg);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: background-color ease 500ms;
}

.cover {
    background-color: aliceblue;
    height: 100%;
    aspect-ratio: 1/1;
}

.infoTrack {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
}

.title {
    font-weight: 800;
    font-size: calc(var(--track-elt-height)*0.3525);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.artists {
    font-size: calc(var(--track-elt-height)*0.325);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.trackElt::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--progress-color);
    z-index: -1;
    transform: translateX(calc(-100% + var(--progress)));
    transition: transform ease 150ms;
    opacity: var(--progress-opacity);
}

.trackElt::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: background ease 150ms;

}

.trackElt:hover::after {
    background: rgb(255 255 255 / 25%);
}